@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "./mobile/_mobile.scss";

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0px;
}
.is-hidden {
  display: none;
}
button {
  background-color: none;
  border: none;
}
input {
  border: none;
}
